# Firebase
GoogleService-Info.plist

# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcodeproj/xcuserstate

# SwiftPM
.swiftpm/
.build/

# macOS
.DS_Store

# IDEs 
.idea/
.vscode/
